<section class="apply">
  <div class="container">
    <img src="./images/apply__bg.png" alt="apply__bg" class="apply__bg">
    <h2 class="apply__title">ОСТАВИТЬ ЗАЯВКУ</h2>
    <p class="apply__text">Оставьте свои данные и мы свяжемся с вами в кротчайшие сроки</p>
    <div class="apply__input">
      <input type="text" class="apply__name" placeholder="Имя">
      <input type="number" class="apply__num" placeholder="+998 (__) ___-__-__">
      <input type="email" class="apply__mail" placeholder="E-mail">
      <button class="apply__btn">Отправить</button>
    </div>
    <div class="apply__check">
      <input type="checkbox" class="apply__check-box">
      <span class="apply__check-text">* Я согласен на обработку моих данных</span>
    </div>
  </div>
</section>