<section class="choose">
  <div class="container">
    <h3 class="choose__title">Почему выбирают нас?</h3>
    <div class="choose-content">
      <div class="choose__box">
        <div class="choose__img">
          <img src="./images/choose1.png" alt="choose">
        </div>
        <p class="choose__text">Только профессиональные водители</p>
      </div>
      <div class="choose__box">
        <div class="choose__img">
          <img src="./images/choose2.png" alt="choose">
        </div>
        <p class="choose__text">Доставка на место работы</p>
      </div>
      <div class="choose__box">
        <div class="choose__img">
          <img src="./images/choose3.png" alt="choose">
        </div>
        <p class="choose__text">Аренда  техники любых размеров</p>
      </div>
    </div>
  </div>
</section>