<section class="info">
  <div class="info-top">
    <h2 class="info__title">О НАС</h2>
    <p class="info__text">Компания DASARENT уже 20 лет предоставляет услуги по аренде тяжелой спецтехники. Наша компания готова помочь со строительством дорог, жилих и нежилых объектов. Мы предоставляем нашу технику как на короткосрочной так и на долгосрочной преспективе. Для удобства наших клиентов есть специальные тарифы. Наши водители являются профессионалами своего дело. На первом месте для нашей компании благополучие наших клиентов и их предложений! </p>
  </div>
  <div class="info-content">
    <img src="./images/info__bg.png" alt="info" class="info__bg">
    <div class="info-bottom">
      <div class="container">
        <div class="info__box">
          <h2 class="info__box-title"><span>20</span> лет</h2>
          <p class="info__box-text">На рынке спецтехники</p>
        </div>
        <div class="info__box">
          <h2 class="info__box-title"><span>300</span>+</h2>
          <p class="info__box-text">Техники в автопарке</p>
        </div>
        <div class="info__box">
          <h2 class="info__box-title"><span>600</span></h2>
          <p class="info__box-text">Довольных клиентов</p>
        </div>
        <div class="info__box">
          <h2 class="info__box-title"><span>100</span>%</h2>
          <p class="info__box-text">Гарантия работы</p>
        </div>
      </div>
    </div>
  </div>
</section>