<section class="tex">
  <h2 class="tex__title">ТЕХНИКА</h2>
  <div class="container">
    <div class="tex-content">
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/tex1.png" alt="">
        </div>
        <button class="tex__btn">Автокраны</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/pogruzchik.png" alt="">
        </div>
        <button class="tex__btn">Погрузчик</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/ekskavator.png" alt="">
        </div>
        <button class="tex__btn">Экскаваторы</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/buldozer.png" alt="">
        </div>
        <button class="tex__btn">Бульдозеры</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/avtobetonasmesitel.png" alt="">
        </div>
        <button class="tex__btn">Автобетонасмесители</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/samosval.png" alt="">
        </div>
        <button class="tex__btn">Самосвалы</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/asfaltniy kat.png" alt="">
        </div>
        <button class="tex__btn">Дорожный каток</button>
      </div>
      <div class="tex__box">
        <div class="tex__img">
          <img src="./images/konteyner.png" alt="">
        </div>
        <button class="tex__btn">Контейнеры</button>
      </div>
    </div>
  </div>
 <a href="../page__2.html" class="view__more"><button class="tex__more">СМОТРЕТЬ БОЛЬШЕ</button></a>
</section>