<section class="rent">
  <div class="container">
    <h2 class="rent__title">Автокраны</h2>
    <div class="rent__box">
      <div class="rent__img"><img src="./images/avtokran.png" alt="about"></div>
      <div class="rent__info">
        <h4 class="rent__box-title">Автокран XCMG QY100K</h4>
        <h5 class="rent__box-text">Технические характеристики:</h5>
        <div class="rent__about">
          <ul class="rent__list">
            <li class="rent__item">Грузоподъемность</li>
            <li class="rent__item">Максимальный вылет стрелы</li>
            <li class="rent__item">Длина</li>
            <li class="rent__item">Длина</li>
            <li class="rent__item">Тип двигателя</li>
            <p class="rent__cost">580 000 сум/час</p>
          </ul>
          <ul class="rent__list">
            <li class="rent__item">100 тонн</li>
            <li class="rent__item">48 м (66,1 м с гуськом)</li>
            <li class="rent__item">15,23 м</li>
            <li class="rent__item">3 м</li>
            <li class="rent__item">дизельный</li>
            <button class="rent__btn">Арендовать</button>
          </ul>
        </div>
      </div>
    </div>
    <div class="rent__box">
      <div class="rent__img"><img src="./images/kranii.png" alt="about"></div>
      <div class="rent__info">
        <h4 class="rent__box-title">Гусеничный кран Zoomlion ZCC </h4>
        <h5 class="rent__box-text">Технические характеристики:</h5>
        <div class="rent__about">
          <ul class="rent__list">
            <li class="rent__item">Грузоподъемность</li>
            <li class="rent__item">Максимальный вылет стрелы</li>
            <li class="rent__item">Длина</li>
            <li class="rent__item">Длина</li>
            <li class="rent__item">Тип двигателя</li>
            <p class="rent__cost">580 000 сум/час</p>
          </ul>
          <ul class="rent__list">
            <li class="rent__item">100 тонн</li>
            <li class="rent__item">48 м (66,1 м с гуськом)</li>
            <li class="rent__item">15,23 м</li>
            <li class="rent__item">3 м</li>
            <li class="rent__item">дизельный</li>
            <button class="rent__btn">Арендовать</button>
          </ul>
        </div>
      </div>
    </div>
    <div class="rent__box">
      <div class="rent__img"><img src="./images/avtokran ivanovec.png" alt="about"></div>
      <div class="rent__info">
        <h4 class="rent__box-title">Автокран Ивановец КС-45717K-1</h4>
        <h5 class="rent__box-text">Технические характеристики:</h5>
        <div class="rent__about">
          <ul class="rent__list">
            <li class="rent__item">Грузоподъемность</li>
            <li class="rent__item">Максимальный вылет стрелы</li>
            <li class="rent__item">Длина</li>
            <li class="rent__item">Длина</li>
            <li class="rent__item">Тип двигателя</li>
            <p class="rent__cost">580 000 сум/час</p>
          </ul>
          <ul class="rent__list">
            <li class="rent__item">100 тонн</li>
            <li class="rent__item">48 м (66,1 м с гуськом)</li>
            <li class="rent__item">15,23 м</li>
            <li class="rent__item">3 м</li>
            <li class="rent__item">дизельный</li>
            <button class="rent__btn">Арендовать</button>
          </ul>
        </div>
      </div>
    </div>
    <div class="rent__box">
      <div class="rent__img"><img src="./images/avtokran ivanovec.png" alt="about"></div>
      <div class="rent__info">
        <h4 class="rent__box-title">Автокран Ивановец КС-45717K-1</h4>
        <h5 class="rent__box-text">Технические характеристики:</h5>
        <div class="rent__about">
          <ul class="rent__list">
            <li class="rent__item">Грузоподъемность</li>
            <li class="rent__item">Максимальный вылет стрелы</li>
            <li class="rent__item">Длина</li>
            <li class="rent__item">Длина</li>
            <li class="rent__item">Тип двигателя</li>
            <p class="rent__cost">580 000 сум/час</p>
          </ul>
          <ul class="rent__list">
            <li class="rent__item">100 тонн</li>
            <li class="rent__item">48 м (66,1 м с гуськом)</li>
            <li class="rent__item">15,23 м</li>
            <li class="rent__item">3 м</li>
            <li class="rent__item">дизельный</li>
            <button class="rent__btn">Арендовать</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>