<header class="header">
  <div class="header__contact">
    <a href="#!" class="header__contact-link"><img src="./images/whatsapp.png" alt="header-contact"></a>
    <a href="#!" class="header__contact-link"><img src="./images/twitter.png" alt="header-contact"></a>
    <a href="#!" class="header__contact-link"><img src="./images/instagram.png" alt="header-contact"></a>
    <a href="#!" class="header__contact-link"><img src="./images/facebook.png" alt="header-contact"></a>
    <a href="#!" class="header__contact-link"><img src="./images/telegram.png" alt="header-contact"></a>
  </div>
  <div class="container">
    <nav class="header__nav">
      <a href="#!" class="header__logo"><img src="./images/Logo.png" alt="logo" class="header__logo-img"></a>
      <button class="header__nav-btn"><i class="fas"></i></button>
      <div class="header__nav-media">
        <ul class="header__list">
          <li class="header__item"><a href="./about.html" class="header__link">О НАС</a></li>
          <li class="header__item"><a href="./technics.html" class="header__link">ТЕХНИКА</a></li>
          <li class="header__item"><a href="#!" class="header__link">КОНТАКТЫ</a></li>
          <li class="header__item"><a href="#!" class="header__link">ОТЗЫВЫ</a></li>
        </ul>
        <a href="tel:++998946530655" class="header__tel"><i class="fas fa-phone-alt"></i>+998 94 653 06 55</a>
      </div>
    </nav>
    <div class="header-content">
      <div class="header__info">
        <h1 class="header__title">АРЕНДА СпецТЕХНИКИ</h1>
        <p class="header__text">Компания <span>DASARENT</span> предоставляет услуги по аренде спецтехники в кротчайшие сроки и за приемлемые цены.</p>
        <a href="../next__page.html" class="next_page"><button class="header__btn">ЗАКАЗАТЬ ПРЯМО СЕЙЧАС</button></a>
      </div>
      <div class="header__img">
        <img src="./images/header__img.png" alt="header__img">
      </div>
    </div>
    
  </div>
</header>