<nav class="nav">
  <div class="container">
    <a href="./index.html" class="nav__logo"><img src="./images/Logo.png" alt="logo"></a>
    <button class="nav__btn"><i class="fas"></i></button>
    <div class="nav-content">
      <div class="navbar__nav">
        <a href="./about.html" class="nav__link active">О&nbsp;НАС</a>
        <a href="./technics.html" class="nav__link">ТЕХНИКА</a>
        <a href="#!" class="nav__link">КОНТАКТЫ</a>
        <a href="#!" class="nav__link">ОТЗЫВЫ</a>
      </div>
      <a href="#!" class="nav__tel">
        <i class="fas"></i>
        <span>+998 94 653 06 55</span>
      </a>
    </div>
  </div>
</nav>